<div class="common-wrapper">
    <!-- payment-click -->
    <div class="payment-open mr-t15">
        <div class="back-header d-flex justify-content-between align-items-center">
            <a href="javascript:;">
                <img src="../../assets/images/chevron.svg" alt="arrow"> Back to Payments Made
            </a>
            <div class="d-flex column-gap10">
                <button mat-stroked-button color="primary">Download PDF</button>
                <button mat-stroked-button color="primary"> Print </button>
            </div>
        </div>
        <div class="pdf-wrapper mr-t15 mr-b50">
            <img src="../../assets/images/payment-pdf.png" alt="pdf-img" class="w-100">
        </div>
    </div>
</div>