NEXT_PUBLIC_REFERENCE_ID=NEXT_PUBLIC_REFERENCE_ID
NEXT_PUBLIC_PROXY_URL=NEXT_PUBLIC_PROXY_URL
NEXT_PUBLIC_API_URL=NEXT_PUBLIC_API_URL

#Paypal
NEXT_PUBLIC_PAYPAL_URL=NEXT_PUBLIC_PAYPAL_URL

# UK ENV
NEXT_PUBLIC_REFERENCE_ID_UK=NEXT_PUBLIC_REFERENCE_ID_UK
NEXT_PUBLIC_API_URL_UK=NEXT_PUBLIC_API_URL_UK