<!-- pay-invoices -->
<mat-spinner [diameter]="60" *ngIf="isLoading"></mat-spinner>
<div class="d-flex w-100">
    <sidebar></sidebar>
    <div
        class="w-100 main-wrapper"
        *ngIf="!isLoading && paymentDetails.vouchers?.length"
    >
        <div
            class="inner-header d-flex justify-content-between align-items-center"
        >
            <h2 *ngIf="paymentDetails.vouchers?.length === 1">Payment for {{ paymentDetails.vouchers[0]?.voucherNumber }}</h2>
            <h2 *ngIf="paymentDetails.vouchers?.length > 1">Payment All Invoices</h2>
            <span class="cp" (click)="backToInvoice()">×</span>
        </div>
        <div class="pay-invoice-content mr-t15" *ngIf="paymentDetails.vouchers?.length === 1">
            <div
                class="invoice-content-header d-flex justify-content-between align-items-center"
            >
                <div class="amount-total date-amount">
                    <img src="../../assets/images/note.svg" alt="notebook" />
                    <div class="date-border">
                        <p class="text-mute">
                            {{ paymentDetails.vouchers[0]?.voucherNumber }}1
                        </p>
                        <span class="mr-t5 d-block">{{
                            paymentDetails.vouchers[0]?.dueDate
                        }}</span>
                    </div>
                    <div class="balance-due">
                        <p class="text-mute balance-txt">Balance Due</p>
                        <span class="mr-t5 d-block balance-number">
                            {{
                                paymentDetails.currency?.symbol
                            }}
                            {{
                                paymentDetails.vouchers[0]?.amount
                            }}</span
                        >
                    </div>
                </div>
            </div>
            <div class="mr-t2">
                <span
                    class="razorpay-message error-message"
                    *ngIf="!paymentDetails?.vouchers[0].canPay"
                    >{{ paymentDetails?.vouchers[0].message }}</span
                >
            </div>
        </div>
        <div class="pay-invoice-content mr-t15 multiple-voucher" *ngIf="paymentDetails.vouchers?.length > 1">
            <div
                class="invoice-content-header d-flex justify-content-between align-items-center"
            >
                <div class="amount-total">
                    <img src="../../assets/images/note.svg" alt="notebook" />
                    <div>
                        <p class="text-mute">Total Amount</p>
                        <span class="mr-t5 d-block">{{ paymentDetails.currency?.symbol }}{{ paymentDetails.totalAmount }}</span>
                    </div>
                </div>
                <button
                    mat-stroked-button
                    color="primary"
                    (click)="togglePanel()"
                    class="multiple-button"
                >
                    For {{ paymentDetails.vouchers?.length }} invoices
                </button>
            </div>
            <div class="invoice-content content-wrapper">
                <mat-accordion multi>
                    <mat-expansion-panel hideToggle [expanded]="panelOpenState">
                        <div class="inv-header mr-t2">
                            <p class="text-uppercase">Invoice #</p>
                            <p class="text-uppercase">Due on</p>
                            <p class="text-right text-uppercase">Balance Due</p>
                        </div>
                        <div class="inv-body" *ngFor="let voucher of paymentDetails.vouchers">
                            <p>{{ voucher?.number }}</p>
                            <p>{{ voucher?.dueDate }}</p>
                            <p class="text-right">{{ paymentDetails.currency?.symbol }}{{ voucher.amount }}</p>
                        </div>
                        <p class="mr-t1">
                            If you want to pay only for an individual invoice,
                            you can do so from the
                            <a href="javascript:;" (click)="backToInvoice()">list view of invoices.</a>
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        <div
            class="pay-invoice-content invoice-tab mr-b2 multiple-voucher-content"
        >
            <div class="invoice-content content-wrapper">
                <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
                    <mat-tab label="Razorpay">
                        <button
                            mat-stroked-button
                            color="primary"
                            class="text-uppercase mr-t15 mr-b2"
                        >
                            Proceed to payment
                        </button>
                    </mat-tab>
                    <mat-tab label="PayPal">
                        <button
                            mat-stroked-button
                            color="primary"
                            class="text-uppercase mr-t15 mr-b2"
                            (click)="initializePayment(paymentDetails)"
                        >
                            Proceed to payment
                        </button>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
