<!-- pay-invoices -->
<div class="d-flex w-100">
    <sidebar></sidebar>
    <div class="w-100">
        <div class="login-section" *ngIf="!storeData?.session?.id">
            <div class="login-btn-wrap" [id]="loginId"></div>
        </div>

        <div class="w-100 main-wrapper">
            <mat-spinner [diameter]="60" *ngIf="isLoading"></mat-spinner>
            <ng-container
                *ngIf="!isLoading && paymentDetails?.vouchers?.length"
            >
                <div
                    class="inner-header d-flex justify-content-between align-items-center"
                >
                    <h2 *ngIf="paymentDetails?.vouchers?.length === 1">
                        Payment for {{ paymentDetails?.vouchers[0]?.number }}
                    </h2>
                    <h2 *ngIf="paymentDetails?.vouchers?.length > 1">
                        Payment All Invoices
                    </h2>
                    <span
                        class="cursor-pointer cross-icon"
                        (click)="backToInvoice()"
                        >×</span
                    >
                </div>
                <div
                    class="pay-invoice-content mr-t15"
                    *ngIf="paymentDetails?.vouchers?.length === 1"
                >
                    <div
                        class="invoice-content-header d-flex justify-content-between align-items-center"
                    >
                        <div class="amount-total date-amount">
                            <img
                                src="../../assets/images/note.svg"
                                alt="notebook"
                            />
                            <div class="date-border">
                                <p class="text-mute">
                                    {{ paymentDetails?.vouchers[0]?.number }}
                                </p>
                                <span class="mr-t5 d-block">{{
                                    paymentDetails?.vouchers[0]?.dueDate
                                }}</span>
                            </div>
                            <div class="balance-due">
                                <p class="text-mute balance-txt">Balance Due</p>
                                <span class="mr-t5 d-block balance-number">
                                    {{ paymentDetails?.currency?.symbol }}
                                    {{
                                        paymentDetails?.vouchers[0]?.amount
                                            | number : "1.0-0"
                                    }}</span
                                >
                            </div>
                        </div>
                    </div>
                    <div class="mr-t2">
                        <span
                            class="razorpay-message error-message"
                            *ngIf="!paymentDetails?.vouchers[0].canPay"
                            >{{ paymentDetails?.vouchers[0].message }}</span
                        >
                    </div>
                </div>
                <div
                    class="pay-invoice-content mr-t15 multiple-voucher"
                    *ngIf="paymentDetails?.vouchers?.length > 1"
                >
                    <div
                        class="invoice-content-header d-flex justify-content-between align-items-center"
                    >
                        <div class="amount-total">
                            <img
                                src="../../assets/images/note.svg"
                                alt="notebook"
                            />
                            <div>
                                <p class="text-mute">Total Amount</p>
                                <span class="mr-t5 d-block"
                                    >{{ paymentDetails?.currency?.symbol }}
                                    <span>{{
                                        paymentDetails?.totalAmount
                                            | number : "1.0-0"
                                    }}</span></span
                                >
                            </div>
                        </div>
                        <button
                            mat-stroked-button
                            color="primary"
                            (click)="togglePanel()"
                            class="multiple-button"
                        >
                            For {{ paymentDetails?.vouchers?.length }} invoices
                        </button>
                    </div>
                    <div class="invoice-content content-wrapper">
                        <mat-accordion multi>
                            <mat-expansion-panel
                                hideToggle
                                [expanded]="panelOpenState"
                            >
                                <div class="inv-header mr-t2">
                                    <p class="text-uppercase">Invoice #</p>
                                    <p class="text-uppercase">Due on</p>
                                    <p class="text-right text-uppercase">
                                        Balance Due
                                    </p>
                                </div>
                                <div
                                    class="inv-body"
                                    *ngFor="
                                        let voucher of paymentDetails?.vouchers
                                    "
                                >
                                    <p>{{ voucher?.number }}</p>
                                    <p>{{ voucher?.dueDate }}</p>
                                    <p class="text-right">
                                        {{ paymentDetails?.currency?.symbol
                                        }}{{
                                            voucher.amount | number : "1.0-0"
                                        }}
                                    </p>
                                </div>
                                <p class="mr-t1">
                                    If you want to pay only for an individual
                                    invoice, you can do so from the
                                    <a
                                        href="javascript:;"
                                        (click)="backToInvoice()"
                                        >list view of invoices.</a
                                    >
                                </p>
                                <div class="mr-t2">
                                    <span
                                        class="razorpay-message error-message"
                                        *ngIf="!canPayInvoice"
                                        >{{ paidInvoiceMessage }}</span
                                    >
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>

                <div
                    class="pay-invoice-content invoice-tab mr-b2 multiple-voucher-content"
                    *ngIf="canPayInvoice"
                >
                    <div class="invoice-content content-wrapper">
                        <div class="mr-l15">
                            <div
                                *ngFor="let gateway of mappedPaymentMethodsFlat"
                                [ngClass]="{ 'mr-t10 mr-b10': gateway.value !== 'PAYPAL' }"
                            >
                                <div class="d-flex align-items-center pd-t5">
                                    <label>
                                        <input
                                            type="radio"
                                            [formControl]="paymentMethodValue"
                                            [value]="gateway.value"
                                        />
                                    </label>
                                    <div class="mr-l15 position-relative">
                                        <ng-container
                                            *ngFor="
                                                let method of gateway.methods
                                            "
                                        >
                                            <span class="payment-methods">
                                                <img
                                                    [src]="method.image"
                                                    [alt]="method.label"
                                                    title="{{ method.label }}"
                                                    width="40px"
                                                    class="mr-r5 object-fit-contain image-class"
                                                    [ngClass]="{ 'width-paypal': method.label === 'PAYPAL' }"
                                                />
                                            </span>
                                        </ng-container>
                                        <div
                                            class="position-absolute payment-gateway-images d-flex align-items-center"
                                        >
                                            <ng-container
                                                *ngIf="
                                                    gateway.value === 'PAYPAL'
                                                "
                                            ></ng-container>
                                            <ng-container
                                                *ngIf="gateway.value === 'PAYU'"
                                            >
                                                <img
                                                    src="assets/images/payu.svg"
                                                    alt="payu"
                                                    height="50px"
                                                    width="80px"
                                                    title="payu"
                                                    class="mr-r5 object-fit-contain"
                                                />
                                            </ng-container>
                                            <ng-container
                                                *ngIf="
                                                    gateway.value === 'RAZORPAY'
                                                "
                                            >
                                                <img
                                                    src="assets/images/razorpay.svg"
                                                    alt="razorpay"
                                                    height="50px"
                                                    width="80px"
                                                    title="razorpay"
                                                    class="mr-r5 object-fit-contain"
                                                />
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <mat-divider class="mr-b5" [ngClass]="{ 'mr-t5': gateway.value !== 'PAYPAL' }"></mat-divider>
                            </div>
                        </div>
                        <pay-now
                            [buttonText]="'Proceed to Payment'"
                            [paymentMethodValue]="paymentMethodValue?.value"
                            [customClass]="'mr-b2 mr-l15 mr-t2 custom-button'"
                            [storeData]="storeData"
                            [paymentMethods]="paymentMethods"
                            [region]="region"
                            [urlParams]="urlParams"
                            [queryParams]="queryParams"
                            [paymentDetails]="paymentDetails"
                            [invoicePay]="true"
                            (invoicePaySuccess)="onInvoicePaySuccess()"
                            [returnInvoicePay]="returnInvoicePay"
                        ></pay-now>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
