/*---- pay-invoice ----*/
.pay-invoice-wrapper {
    .inner-header {
        span {
            font-size: var(--font-size-24);
        }
    }
}

/*---- pay-invoices ----*/

    .pay-invoice-content {
        max-width: 790px;
        border-radius: 3px;
        box-shadow: 0 1px 8px 0 var(--color-box-shadow);
        padding: 20px 30px;

        &.invoice-tab {
            padding: 0 !important;
            max-width: 850px;
        }
    }

    .invoice-content-header {
        .amount-total {
            display: flex;
            align-items: center;
            column-gap: 15px;

            img {
                width: 50px;
            }

            p {
                font-size: var(--font-size-12);
            }

            span {
                font-weight: 500;
            }
        }
    }

    .invoice-content {
        padding: 20px 30px;

        .mat-expansion-panel {
            box-shadow: none !important;

            .inv-header {
                display: flex;
                justify-content: space-between;
                padding: 8px 0;
                border-top: 1px dashed var(--color-border);
                border-bottom: 1px solid var(--color-border);

                p {
                    min-width: 120px;
                }
            }

            .inv-body {
                display: flex;
                justify-content: space-between;
                padding: 8px 0;

                p {
                    min-width: 120px;
                }
            }
        }

        .mendatory {
            background-color: var(--color-bg-mandatory);
            padding: 8px;

            img {
                width: 15px;
            }

            p {
                color: var(--color-red);
            }
        }

        .credit-tab {
            max-width: 450px;

            .detail-card {
                max-width: 470px;
            }
        }

        /*--- tabs ---*/
        .mat-mdc-tab-group {
            flex-direction: row;

            .mat-mdc-tab-header {
                .mat-mdc-tab-label-container {
                    flex-direction: column;
                }
            }
        }
    }


/*---- responsive ----*/
@media screen and (max-width: 768px) {
    .pay-invoice-wrapper {
        margin: 0 0px 50px 0px;

        .inner-header {
            h2 {
                font-size: 18px;
            }
        }

        .pay-invoice-content {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}

@media screen and (max-width: 576px) {
    .pay-invoice-wrapper {
        .invoice-content {
            .mat-mdc-tab-group {
                flex-direction: column;
            }

            .res-field-100 {
                flex-wrap: wrap;
            }
        }

        .invoice-content-header {
            .amount-total {
                flex-wrap: wrap;
                row-gap: 15px;

                img {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .pay-invoice-wrapper {
        .invoice-content-header {
            flex-wrap: wrap;
            row-gap: 15px;
        }

        .invoice-content {
            .mat-expansion-panel {
                .inv-header {
                    p {
                        min-width: 48px;
                        font-size: 13px;
                    }
                }

                .inv-body {
                    p {
                        min-width: 72px;
                    }
                }
            }
        }
    }

    .invoice-res-reslected {
        flex-wrap: wrap;
        row-gap: 10px;

        p {
            margin-left: 0 !important;
        }
    }
}

.amount-total {
    .date-border {
        border-right: 1px solid var(--color-border);
        padding-right: 12px;
    }

    p {
        font-size: var(--font-size-20) !important;
        font-weight: 300;
    }
}

.date-amount {
    p {
        font-weight: 300;
    }
}

.inner-header {
    padding: 15px 0px;
    border-bottom: 1px solid var(--color-border);
    padding-right: 23px;
    h2 {
        font-size: var(--font-size-24);
        font-weight: 300;
    }
}

.razorpay-message {
    font-size: var(--font-size-15);
}
