<div class="common-wrapper">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- <header></header> -->
  <div class="page-wrapper" *ngIf="!isLoading">
    <div class="login-wrapper">
      <div class="text-center">
        <img
          src="../../assets/images/giddh_logo.svg"
          alt="logo"
          class="mr-t5 mr-b15"
        />
        <div class="signin-content">
          <form [formGroup]="checkboxForm" >
            <div formArrayName="checkboxes" class="user-form">
              <div *ngFor="let option of users; let i = index">
                <label class="user-label">
                  <input
                    type="checkbox"
                    [formControl]="
                      checkboxForm?.get('checkboxes')['controls'][i]
                    "
                     (change)="onCheckboxChange(i)"
                  />
                  {{ option?.account?.name }}
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
