/*---- dialog ----*/

.common-dialog {
    .mat-mdc-dialog-content {
        .alert-wrapper {
            background-color: var(--color-bg-warning);
            padding: 15px 10px;

            img {
                width: 12px;
            }

            p,
            ul li {
                color: var(--color-black);
                font-size: var(--font-size-12);
            }

            ul {
                li {
                    list-style-type: disc;
                }
            }
        }

        .mat-expansion-panel-header {
            height: 40px !important;

            .mat-expansion-panel-body {
                .mat-mdc-table {
                    .mat-mdc-header-row {
                        .mat-mdc-header-cell {
                            height: 40px !important;
                        }
                    }
                }
            }
        }

        /*---- pay-table ----*/
        .danger-wrap {
            align-items: end;

            img {
                width: 30px;
            }

            p {
                color: var(--color-black);
            }
        }
    }

    .forward-wrapper {
        p {
            color: var(--color-black);
        }
    }
}


.clear-button {
    height: 48px;
    width: 100px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 16px !important;
    background-color: var(--color-giddh-blue);
    color: var(--color-white);
}
.modal-header .close {
    color: var(--color-popup-list-head-text);
    opacity: 1;
    font-weight: 100;
    text-shadow: none;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: transparent;
}