.header-wrapper {
    background-color: var(--color-bg-header);
    padding: 20px 30px;
    h2 {
        font-weight: 300;
        display: inline-block;
        column-gap: 20px;
        a {
            img{
                width: 12px;
            }
        }
    }
}
switch-account {
    float: right;
}