<div class="common-wrapper">
    <div class="page-wrapper">
        <div class="login-wrapper">
            <div class="text-center">
                <img
                    src="../../assets/images/giddh_logo.svg"
                    alt="logo"
                    class="mr-t5 mr-b15"
                />
                <div class="signin-content">
                    <h4>Sign in</h4>
                    <p>View and manage your transactions with Giddh</p>
                </div>
            </div>
            <div class="signin-form">
                <div class="login-btn-wrap" [id]="loginId"></div>
            </div>
        </div>
    </div>
</div>
