<!-- <header></header> -->
<div class="common-wrapper">
    <div class="page-wrapper">
        <div class="login-wrapper">
            <div class="text-center">
                <img src="../../assets/images/giddh_logo.svg" alt="logo" class="mr-t5 mr-b15">
                <div class="signin-content">
                    <h4>Sign in</h4>
                    <p>View and manage your transactions with Giddh GmbH</p>
                </div>
            </div>
            <div class="signin-form">
                <form>
                    <div class="login-btn-wrap">
                        <button class="mr-b2">
                            <img src="../../assets/images/google-logo.svg" alt="Google Icon">
                            <span>Google</span>
                        </button>
                        <span class="or-divide mr-b2">or</span>
                        <button class="mr-b2 otp-btn">Login with OTP</button>
                    </div>
                </form>
            </div>
            <span class="signin-staff d-block">
                <p>Giddh GmbH staff? <a href="javascript:;">Sign in
                        <img src="../../assets/images/arrow.svg" alt="arrow">
                    </a></p>
            </span>
        </div>
    </div>
</div>