<!-- <header></header> -->
<div class="common-wrapper">
  <div class="page-wrapper">
    <div class="login-wrapper">
      <div class="text-center">
        <img
          src="../../assets/images/giddh_logo.svg"
          alt="logo"
          class="mr-t5 mr-b15"
        />
        <div class="signin-content">
          <h4>Sign in</h4>
          <p>View and manage your transactions with Giddh GmbH</p>
        </div>
      </div>
      <div class="signin-form">
        <div class="login-btn-wrap" id="117230p1697093599652797df30cea"></div>
      </div>
      <span class="signin-staff d-block">
        <p>
          Giddh GmbH staff?
          <a href="javascript:;"
            >Sign in
            <img src="../../assets/images/arrow.svg" alt="arrow" />
          </a>
        </p>
      </span>
    </div>
  </div>
</div>
