@import "../fonts/inter_font.css";

body {
    --font-size-12: 12px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-24: 24px;
    --font-size-32: 32px;
    --font-size-48: 48px;

    --input-field-border-color: #d9d9d9;
    --white-color: #fff;
    --text-default: #000;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
hr,
input,
textarea,
select,
radio,
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/*universal styles*/
html,
body {
    height: 100%;
    background: #f7f8fa;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--font-size-15);
    margin: 0 !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}

.db {
    display: block;
}

.pdLR0 {
    padding-left: 0;
    padding-right: 0;
}

.pr-0 {
    padding-right: 0 !important;
}

.pdL25 {
    padding-left: 25px;
}

.pdR25 {
    padding-right: 25px;
}

/* Legacy classes removed - now using pl-1 and pr-1 */

.pl-0 {
    padding-left: 0 !important;
}

.pdl1imp {
    padding-left: 10px !important;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.mrB15 {
    margin-bottom: 15px;
}

.mrL15 {
    margin-left: 15px;
}

.mr-0 {
    margin-right: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.bdr {
    border: 1px solid var(--input-field-border-color);
}

.border-none {
    border: none !important;
}

.border-top {
    border-top: 1px solid var(--input-field-border-color);
}

.border-bottom {
    border-bottom: 1px solid var(--input-field-border-color);
}

.border-left {
    border-left: 1px solid var(--input-field-border-color) !important;
}

.border-right {
    border-right: 1px solid var(--input-field-border-color) !important;
}

.bdrR0 {
    border-radius: var(--mat-border-radius-0);
}

.pa {
    position: absolute;
}

.pr {
    position: relative;
}

.pf {
    position: fixed;
}

.white-color {
    color: var(--white-color);
}

.gryClr {
    color: #777;
}

.grey-bg {
    background: #f5f5f5;
    /*min-width:320px;*/
}

.bg-white {
    background: var(--white-color);
}

.transparent-bg {
    background: 0 0;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.resize-none {
    resize: none;
}

.list-style-none {
    list-style: none;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-underline {
    text-decoration: underline;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.pdBth1510 {
    padding: 15px 10px;
}

.thead {
    font-size: var(--font-size-15);
}

.scroll-item {
    overflow: auto;
    position: relative;
}

.w-100 {
    width: 100% !important;
}

.h100 {
    height: 100px !important;
}

.position-relative {
    position: relative !important;
}

.oyHid {
    overflow-y: hidden;
}

.oxHid {
    overflow-x: hidden;
}

.pad0 {
    padding: 0 !important;
}

.w-100 {
    width: 100% !important;
}

.position-relative {
    position: relative !important;
}

/*structure style*/

/* added by sarfaraz */

.flex-row {
    flex-direction: row;
    -ms-flex-direction: row;
}

.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

body {
    background: var(--white-color) !important;
}

#magicLink {
    font-size: var(--font-size-15);
    min-height: 100vh;
}

.nav-link>.active {
    background-color: #f26122;
}

#demo {
    padding-top: 25.833px;
    font-size: var(--font-size-24);
    color: var(--white-color);
    font-weight: regular;
}

.account-name {
    font-weight: 400;
    font-size: var(--font-size-15);
}

.rec {
    font-weight: 600;
    font-size: var(--font-size-15);
}

.text-white {
    color: var(--white-color);
}

.nav-tabs>li>a {
    color: var(--text-default);
}

.light-gray-bg {
    background: #f9f9f9;
}

.gray-bg {
    background: var(--input-field-border-color);
}

.bg-white {
    background: var(--white-color);
}

.wid-50 {
    width: 50%;
}

.bg-primary {
    background: #1a237e !important;
}

.font-12 {
    font-size: var(--font-size-12);
}

.font-15 {
    font-size: var(--font-size-15);
}

.font-16 {
    font-size: var(--font-size-16);
}

.d-block {
    display: block !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-color {
    color: #262626;
}

.head-block {
    height: 77px;
}

.h32 {
    height: 32px;
}

.head-block .vertical-center {
    font-size: var(--font-size-24);
    display: block;
}

.ledger-account-name {
    font-size: var(--font-size-24);
    color: #6d6e70;
}

.currency-width {
    width: 150px !important;
}

.ledger-footer-1 {
    width: 50%;
    bottom: 0;
    left: 0;
}

.attachment-medium {
    max-width: 100%;
    height: auto !important;
}

.ledger-footer-1:nth-child(2) {
    right: 0 !important;
}

/*#transaction_table table th[class*="col-"]:last-child {
    border-right: 1px solid var(--input-field-border-color) !important;
}*/

#transaction_table table td[class*="col-"],
table th[class*="col-"] {
    padding: 10px;
}

.compound-entry td,
.compound-entry td .form-control {
    background: #fddfa4 !important;
    border-left: 1px solid var(--input-field-border-color);
}

.nav.nav-tabs {
    padding: 0;
    border: 0;
}

.nav-tabs>li>a {
    border-radius: var(--mat-border-radius-0);
}

.nav-tabs>li>a.active,
.nav-tabs>li>a.active:focus,
.nav-tabs>li>a.active:hover {
    background-color: #f26122;
    color: var(--white-color) !important;
}

.table-bordered {
    border: 0;
}

.table-bordered td,
.table-bordered th {
    border: none;
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom-width: 1px;
}

/* general css */

.cmnPd80 {
    padding: 80px 0;
}

.ledger-footer-1.float-left {
    width: 50%;
    left: 0;
    bottom: 0;
}

.ledger-footer-1.float-right {
    width: 50%;
    bottom: 0;
    right: 0 !important;
}

.ledger-footer-1.float-right tbody td {
    border-right: 1px solid var(--input-field-border-color);
}

.ylwBg {
    background-color: #e6e6e6;
}

.ledger-stat {
    margin-bottom: 0;
    background-color: var(--white-color);
    margin-top: 30px;
    padding: 20px 0;
}

.ledger-stat h1 {
    font-weight: 400;
}

.homeBtmhalf h3 {
    letter-spacing: 1px;
    line-height: 36px;
    margin-bottom: 20px;
}

.arvo,
.head3 {
    /* font-family: 'Arvo', serif; */
    font-weight: 400;
}

.sub_footer {
    background: #f26122;
    color: var(--white-color);
}

/*footer style start*/

#contact {
    background-color: #f26122;
    padding: 60px 0;
    font-weight: 400;
    color: var(--white-color);
    /* letter-spacing: 1px; */
    /* font-family: 'Arvo', serif; */
}

.header-line {
    font-size: var(--font-size-32);
    /* font-family: 'Arvo', serif; */
    color: var(--white-color);
}

#contact p {
    margin: 0;
    line-height: 28px;
    font-size: var(--font-size-16);
}

#contact label {
    color: var(--white-color);
    font-size: var(--font-size-16);
    font-weight: 400;
}

#contact textarea.form-control {
    resize: none;
    height: 150px;
}

/*social icons*/

.social {
    -moz-transition: 0.3s ease 0s;
    margin-bottom: 30px;
}

.social a {
    display: inline-block;
    background-color: #26263a;
    border-radius: 50%;
    margin: 0 15px 0 0;
}

.scicn {
    width: 48px;
    height: 48px;
    /* background: url(../images/new/social-icons.png) no-repeat; */
    text-indent: -999em;
}

.fb {
    background-position: 0 0;
}

.twit {
    background-position: 0 -48px;
}

.in {
    background-position: 0 -96px;
}

.social a:hover .fb {
    background-position: -48px 0;
}

.social a:hover .twit {
    background-position: -48px -48px;
}

.social a:hover .in {
    background-position: -48px -96px;
}

#farzi {
    height: 310px;
}

.arvo,
.head3,
strong {
    /* font-family: 'Arvo', serif; */
    font-weight: 400;
}

strong {
    font-weight: 700 !important;
}

h3 {
    font-size: var(--font-size-24);
}

h4 {
    font-size: var(--font-size-16);
}

#web_footer .h1,
#web_footer .h2,
#web_footer .h3,
#web_footer h1,
#web_footer h2,
#web_footer h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#web_footer {
    display: none;
}

.green {
    color: #00796b;
}

.font-black {
    color: black !important;
}

:host ::ng-deep footer {
    margin-top: 0;
}

#contact a:hover,
#contact a:focus {
    color: var(--white-color);
}

/* Chrome/Opera/Safari */

.form-control::-webkit-input-placeholder {
    color: #d8d5d5;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #d8d5d5;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #d8d5d5;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #d8d5d5;
}

.magic-table .download-invoice-ledger {
    padding: 0 0 0 5px;
    cursor: pointer;
}

/*footer style end*/

/* --------------- Responsive Fixes --------------- */

/* sadik */
body {
    height: 100vh;
    background: var(--white-color);
}

.bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

/* added display flex to loader-1 */
#loader-1 {
    display: flex;
}

.spinner2 {
    margin: 0 auto;
    width: 40px;
    height: 100vh;
    position: relative;
    align-items: center;
}

.cube1,
.cube2 {
    background-color: #1a237e;
    width: 15px;
    height: 15px;
    /* position: absolute; */
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group .form-control:first-child {
    border-bottom-right-radius: 0;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    border-radius: .25rem 0 0 .25rem !important;
    border: 1px solid var(--input-field-border-color) !important;
}

.input-group-addon:last-child {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: var(--font-size-15);
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid var(--input-field-border-color);
    border-radius: 4px;
}

.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.tooltip-inner {
    background-color: var(--text-default) !important;
    color: var(--white-color) !important;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.mb-5 {
    margin-bottom: 50px;
}

.style-1 {
    background-color: #f7f7fd;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 450px;
    border-bottom-left-radius: 0px;
}

footer p {
    color: #1c1c1c;
    font-size: var(--font-size-15);
}

.top-footer {
    padding: 3.75rem 0;
    font-size: var(--font-size-15);
}

.inner-logos {
    display: flex;
    flex-wrap: wrap;
}

.list-style-ul,
.btmfooter-social {
    margin: 0;
    padding: 0;
}

.inner-logos li {
    margin-bottom: 1.5rem;
    cursor: pointer;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 7px;
    background-color: #edeeff;
}

.inner-logos img {
    width: 48px;
    height: 48px;
}

footer ul li,
ul,
li,
.list-style-ul {
    list-style: none;
}

#custom_html-2 ul,
#nav_menu-3 ul,
#nav_menu-2 ul {
    padding-left: 0;
}

footer .menu-item a {
    line-height: 35px;
    color: #1c1c1c;
    font-size: var(--font-size-15);
}

.contact_form input,
.contact_form textarea {
    width: 100%;
    padding: 10px 22px;
    margin-bottom: 5px;
    border: 1px solid var(--input-field-border-color);
    border-radius: 5px;
    font-size: var(--font-size-15);
    box-shadow: none;
    border-radius: var(--mat-border-radius-0);
    height: 40px;
}

.contact_form textarea {
    height: 80px;
}

#custom_html-2 ul li,
#custom_html-2 ul li a {
    font-size: var(--font-size-15);
    color: #1a237e;
    line-height: 30px;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.top-footer h4 {
    font-size: var(--font-size-48);
    color: #1a237e;
    font-weight: bold;
}

.mb-2 {
    margin-bottom: 20px;
}

.inner-logos li+li {
    margin-left: 15px;
}

.btn-outline-primary {
    max-width: 185px;
    border: 1px solid #1a237e;
    border-radius: var(--mat-border-radius-16);
    margin-top: 15px;
    font-size: var(--font-size-16);
    font-weight: bold;
    color: #1a237e;
    padding: 0px 22px;
    height: 50px;
    line-height: 49px;
}

.tab-content>.tab-pane {
    display: block;
}

.tab-content {
    width: unset !important;
    float: unset !important;
}

/* small device */

@media (max-width: 992px) {
    .device-big {
        display: none;
    }

    .device-small {
        display: block;
    }

    #web-cont {
        display: none;
    }

    #web-bg {
        background-color: var(--white-color);
    }

    :host ::ng-deep footer>div>a {
        display: block;
        text-align: center;
    }

    :host ::ng-deep footer>div>span {
        display: none;
    }

    :host ::ng-deep footer>div>a:first-child {
        margin-left: 22px;
    }

    #contact p {
        line-height: 28px;
    }

    :host ::ng-deep .header-line {
        font-size: var(--font-size-16);
    }

    #contact .form-control {
        background-color: transparent !important;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }

    #farzi {
        height: 20px;
    }

    .nav-tabs .nav-item {
        margin-bottom: -1px;
        display: inline-block !important;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        background-color: #1a237e !important;
    }

    .wid-50 {
        width: 49.7% !important;
    }
}

/* big device */

@media only screen and (min-width: 993px) {

    .device-big,
    .tab-content>.tab-pane {
        display: block;
    }

    .device-small {
        display: none;
    }

    .tab-content>.tab-pane {
        display: inline;
    }

    #mob-cont {
        display: none;
    }

    #contact .btn-lg {
        font-size: var(--font-size-16);
        letter-spacing: 1px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .col-md-6 {
        width: 50%;
    }

    .ledger-book:before {
        content: " ";
        height: calc(100% - 140px);
        position: absolute;
        width: 0;
        border-left: 1px solid var(--input-field-border-color);
        top: 42px;
        bottom: 0;
        z-index: 9;
        margin: 0 auto;
        left: 0px;
        right: 0;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        margin-right: 20px;
        margin-left: 20px;
    }

    #contact .btn-lg {
        font-size: var(--font-size-15) !important;
        letter-spacing: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #contact .form-group>label {
        display: none;
    }
}

@media (min-width: 769px) {
    #contact .form-control {
        background-color: #fd7134 !important;
        border-color: #f26122 !important;
        border-radius: var(--mat-border-radius-0) !important;
        color: #ffecdf !important;
    }
}

@media (max-width: 600px) {
    #contact p {
        font-size: var(--font-size-15) !important;
    }
}

@media only screen and (max-width: 1300px) {
    .container {
        width: inherit !important;
    }
}

/* --------------- / Responsive Fixes --------------- */

.app_download {
    margin: 7px 0;
    padding: 0;
    float: left;
    display: block;
    width: 100%;
}

.app_download h3 {
    color: var(--white-color);
}

.app_download li {
    display: inline-block;
    list-style: none;
    float: left;
    color: var(--white-color);
    margin: 0 4px;
}

.app_download li a {
    border: 1px solid #cc3f1c;
    font-size: var(--font-size-16);
    color: var(--white-color);
    padding: 5px 9px;
    border-radius: var(--mat-border-radius-0);
    background: #cc3f1c;
    transition: all 0.2s ease-in;
    float: left;
}

.app_download li a:hover {
    box-shadow: 0px 1px 4px #f76845;
}

tbody td {
    border-left: 1px solid var(--input-field-border-color);
}

thead tr:first-child th {
    border-left: 0 !important;
    border-right: 0 !important;
}

#credit td {
    border-left: 0;
}

div#transaction_table {
    background-color: var(--white-color);
    position: relative;
}

.ledger-footer-1.leftfooter .total-col td {
    border-right: 0;
}

#debit td {
    border-right: 0;
}

#debit td,
#credit td {
    white-space: normal;
    word-break: break-all;
}