<div class="common-wrapper">
    <mat-drawer-container class="sidebar h-100" autosize
        [ngClass]="{'sidebar-open': isExpanded, 'sidebar-close': !isExpanded}">
        <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
            <div class="sidebar-head">
                <button type="button" (click)="drawer.toggle();toggleMenu()" class="cp">
                    <img src="../../../assets/images/toggle.svg" alt="toggle">
                </button>
                <span class="pd-l1 d-inline-block toggle-heading">Giddh GmbH</span>
            </div>
            <mat-list role="list">
                <mat-list-item role="listitem" class="active">
                    <a href="javascript:;">
                        <img src="../../../assets/images/home.svg" alt="home">
                        <span class="side-menu"   (click)="redirectionToUrl('welcome')">Home</span>
                    </a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="javascript:;">
                        <img src="../../../assets/images/invoice.svg" alt="invoice">
                        <span class="side-menu"(click)="redirectionToUrl('invoice')">Invoices</span>
                    </a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a href="javascript:;">
                        <img src="../../../assets/images/payment.svg" alt="payment">
                        <span class="side-menu"(click)="redirectionToUrl('payment')">Payments Made</span>
                    </a>
                </mat-list-item>
            </mat-list>

            <div class="sidebar-footer">
                <a href="javascript:;" matTooltip="shubhendra@msg91.com"
                    matTooltipClass="example-tooltip-uppercase">Shubhendra Agrawal</a>
                <button mat-stroked-button color="primary" class="logout-btn">Logout</button>
            </div>
        </mat-drawer>

        <div class="sidenav-content">
            <div class="sidebar-mobile-head">
                <button type="button" (click)="drawer.toggle();toggleMenu()" class="cp">
                    <img src="../../../assets/images/toggle-responsive.svg" alt="toggle">
                </button>
                <span class="pd-l1 d-inline-block toggle-heading">Giddh GmbH</span>
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</div>
