<div class="common-wrapper">
    <div class="inner-content d-flex justify-content-between small-container">
        <div class="d-flex column-gap10 statement-year">
            <mat-form-field appearance="outline">
                <mat-label>This Year</mat-label>
                <mat-select>
                    <mat-option value="option1">All Estimates</mat-option>
                    <mat-option value="option1">Open Estimates</mat-option>
                    <mat-option value="option1">Accepted Estimates</mat-option>
                    <mat-option value="option1">Declined Estimates</mat-option>
                    <mat-option value="option1">Invoiced Estimates</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Filter By</mat-label>
                <mat-select>
                    <mat-option value="option1">Invoice #</mat-option>
                    <mat-option value="option1">Date</mat-option>
                    <mat-option value="option1">Total</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="d-flex column-gap10 align-items-center">
            <button mat-stroked-button color="primary">Download PDF</button>
            <button mat-stroked-button color="primary">Print</button>
        </div>
    </div>
</div>