.common-wrapper {
    .inner-content {
        margin: 30px 0 20px 0;

        .invoice-table {
            table {
                .mdc-data-table__content {
                    .mat-mdc-row {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .pdf-wrapper {
        height: calc(100% - 196px);
    }

    .invoice-open {
        height: calc(100% - 100px);

        .back-header {
            img {
                width: 12px;
            }
        }

        .comment-container {
            background-color: var(--color-bg-login);
            padding: 22px 20px 30px;
            margin: 15px 0 20px;
            float: left;
            width: 100%;
        }
    }
}

/*---- responsive ----*/
@media screen and (max-width: 768px) {
    .common-wrapper {
        .inner-header {
            padding: 15px 15px;
        }

        .inner-content {
            margin: 30px 15px 20px 15px;
        }
    }
}

@media screen and (max-width: 480px) {
    .invoice-res-reslected {
        flex-wrap: wrap;
        row-gap: 10px;

        p {
            margin-left: 0 !important;
        }
    }

    .common-wrapper {
        .invoice-open {
            .back-header {
                display: block;

                a {
                    margin-bottom: 15px !important;
                    display: inline-block;
                }
            }
        }
    }
}

.media {
    display: flex;
    align-items: flex-start;
}

.list-inline,
.list-unstyled {
    padding-left: 0;
    list-style: none;
}


.comment-time-web {
    width: 170px;
}

.font-sm {
    font-size: 13px;
}

.text-muted {
    color: #5D678A !important;
}

.media-body {
    flex: 1;
}



.comments-container .comment {
    white-space: pre-wrap;
}

.razorpay-message {
    font-size: var(--font-size-15);
    float: left;
    width: 100%;
}

.pay-invoice-content {
    border-radius: 3px;
    box-shadow: 0 1px 8px 0 var(--color-box-shadow);
    padding: 20px 30px;
    margin-bottom: 17px;
    clear: both;

    &.invoice-tab {
        padding: 0 !important;
        max-width: 850px;
    }
}

.position-section {
    flex-direction: row-reverse;
}

.login-section {
    height: 70px;
    background-color: var(--color-giddh-blue);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 22px;
}

.textarea-resize{
    resize: none;
}

.invoice-content-header {
    .date-border {
        border-right: 1px solid var(--color-border);
        padding-right: 12px;
    }

    p {
        font-size: var(--font-size-20) !important;
        font-weight: 300;
    }

    .amount-total {
        display: flex;
        align-items: center;
        column-gap: 15px;

        img {
            width: 50px;
        }

        p {
            font-size: var(--font-size-12);
        }

        span {
            font-weight: 500;
        }
    }
}

.invoice-content {
    padding: 20px 30px;

    .mat-expansion-panel {
        box-shadow: none !important;

        .inv-header {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            border-top: 1px dashed var(--color-border);
            border-bottom: 1px solid var(--color-border);

            p {
                min-width: 120px;
            }
        }

        .inv-body {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;

            p {
                min-width: 120px;
            }
        }
    }

    .mendatory {
        background-color: var(--color-bg-mandatory);
        padding: 8px;

        img {
            width: 15px;
        }

        p {
            color: var(--color-red);
        }
    }

    .credit-tab {
        max-width: 450px;

        .detail-card {
            max-width: 470px;
        }
    }

    /*--- tabs ---*/
    .mat-mdc-tab-group {
        flex-direction: row;

        .mat-mdc-tab-header {
            .mat-mdc-tab-label-container {
                flex-direction: column;
            }
        }
    }
}
