<mat-spinner [diameter]="60" *ngIf="isLoading"></mat-spinner>
<div class="d-flex w-100">
    <sidebar ></sidebar>
    <div class="common-wrapper">
        <div class="page-wrapper d-flex flex-column h-100" *ngIf="!isLoading">
            <header (companyData)="(receivedCompanyDetails)"></header>
            <div class="container" *ngIf="!isShowAccountDetails">
                <div class="index-wrapper">
                    <div class="balance-wrap">
                        <div class="payment-width">
                            <h4>Balance Summary</h4>
                            <div class="summary-box mr-t15">
                                <div class="desktop">
                                    <div class="summary-head">
                                        <p>Currency</p>
                                        <p>
                                            <span class="line orange"></span>
                                            <span>Balance Payable</span>
                                        </p>
                                    </div>
                                    <div class="summary-content">
                                        <span
                                            >{{
                                                balanceSummary?.currency?.code
                                            }}
                                            -
                                            {{
                                                balanceSummary?.currency?.symbol
                                            }}</span
                                        >
                                        <span class="number-pay">
                                            <div class="number text-right">
                                                {{
                                                    balanceSummary?.currency
                                                        ?.symbol
                                                }}
                                                {{
                                                    balanceSummary?.balancePayable
                                                }}
                                                <br />
                                                Number of Invoices :
                                                {{
                                                    balanceSummary?.noOfInvoices
                                                }}
                                            </div>
                                            <div></div>
                                        </span>
                                    </div>
                                </div>
                                <!-- mobile-design -->
                                <div class="mobile-screen">
                                    <div class="currency-head d-flex justify-content-between">
                                        <span
                                            >Currency :</span
                                        >&nbsp;
                                        <span
                                            >{{
                                                balanceSummary?.currency?.code
                                            }}
                                            -
                                            {{
                                                balanceSummary?.currency?.symbol
                                            }}</span
                                        >
                                    </div>
                                    <div class="d-flex mobile-pay mr-t1 mr-b15">
                                        <span>Balance Payable</span>
                                        <span class="number-pay">
                                            {{
                                                balanceSummary?.currency?.symbol
                                            }}
                                               <span class="line orange"></span>
                                            {{ balanceSummary?.balancePayable }}
                                        </span>
                                    </div>
                                    <div class="d-flex mobile-pay mr-b15">
                                        <span>  Number of Invoices :</span>
                                        <span class="number-pay">
                                            {{
                                                balanceSummary?.noOfInvoices
                                            }}</span
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="balance-wrap"
                        *ngIf="
                            voucherData?.items[0]?.balanceStatus === 'ADJUSTED' || voucherData?.items[0]?.balanceStatus === 'PARTIAL-ADJUSTED'
                        "
                    >
                        <div class="payment-width">
                            <h4>Last Payment Made</h4>
                            <div class="payment-made mr-t15">
                                <div>
                                    <span class="d-block pay mr-b1"
                                        >{{
                                            voucherData?.items[0]
                                                ?.accountCurrencySymbol
                                        }}{{
                                            voucherData?.items[0]?.grandTotal
                                                ?.amountForAccount
                                        }}</span
                                    >
                                    <span
                                        >{{
                                            voucherData?.items[0]
                                                ?.balanceStatus === "ADJUSTED"
                                                ? "PAID"
                                                : "UNPAID"
                                        }}
                                        for
                                        <a
                                            href="javascript:;"
                                            (click)="
                                                invoicePreview(
                                                    voucherData?.items[0]
                                                        ?.adjustments[0]
                                                        ?.uniqueName
                                                )
                                            "
                                            >{{
                                                voucherData?.items[0]
                                                    ?.adjustments[0]
                                                    ?.voucherNumber
                                            }}</a
                                        >
                                    </span>
                                </div>
                                <div>
                                    <span class="d-block pay-head mr-b1"
                                        >Paid On</span
                                    >
                                    <span>{{
                                        voucherData?.items[0]?.voucherDate
                                    }}</span>
                                </div>
                                <div>
                                    <span class="d-block pay-head mr-b1 text-right"
                                        >Payment #</span
                                    >
                                    <span>
                                        <a
                                            href="javascript:;"
                                            (click)="
                                                receiptPreview(
                                                    voucherData?.items[0]
                                                        ?.uniqueName
                                                )
                                            "
                                            >{{
                                                voucherData?.items[0]
                                                    ?.voucherNumber
                                            }}</a
                                        >
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="balance-wrap">
                        <div class="payment-width">
                            <div class="d-flex justify-content-between">
                                <h4>My Details</h4>
                                <a
                                    href="javascript:;"
                                    (click)="isShowAccountDetails = true"
                                    >View More</a
                                >
                            </div>
                            <div class="payment-made mr-t15">
                                <div>
                                    <span class="d-block company-head mr-b1">{{
                                        receivedCompanyDetails?.name
                                    }}</span>
                                    <span class="d-block mr-b1">
                                        {{ accountDetails?.name }}</span
                                    >
                                    <span class="d-block mr-t5 mr-b5">
                                        <img
                                            src="../../assets/images/profile.svg"
                                            alt="profile"
                                        />
                                        {{ accounts?.length }} Contact
                                        Persons</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- my-detail -->
            <div class="container" *ngIf="isShowAccountDetails">
                <button
                    class="mr-t15"
                    mat-stroked-button
                    color="primary"
                    (click)="isShowAccountDetails = false"
                >
                    Back
                </button>
                <div class="index-wrapper">
                    <div class="balance-wrap balance-account">
                        <div class="account-left">
                            <h4>Account Details</h4>
                            <div class="account-details mr-t15">
                                <div>
                                    <span class="account-head d-block mr-b1"
                                        >{{storeData?.session?.portalDetails?.name}}</span
                                    >
                                    <div>
                                        <span
                                            class="d-block account-name mr-b5"
                                            >{{ accountDetails?.name }}</span
                                        >
                                        <span class="d-block mr-b5">{{
                                            accountDetails?.email
                                        }}</span>
                                    </div>
                                </div>
                                <div class="billing-address">
                                    <div>
                                        <span class="text-mute"
                                            >BILLING ADDRESS</span
                                        >
                                        <p class="mr-t15">
                                            {{ accountDetails?.attentionTo
                                            }}<br />
                                            {{ accountDetails?.email }}<br />
                                            {{ accountDetails?.mobileNo }}<br />
                                            {{ accountDetails?.data?.address }}
                                            <br />
                                            {{
                                                accountDetails?.data?.stateName
                                            }}
                                            {{ accountDetails?.data?.pincode }}
                                            <br />
                                            {{ accountDetails?.countryName }}
                                            <br />
                                        </p>
                                    </div>
                                    <div>
                                        <span class="text-mute"
                                            >SHIPPING ADDRESS</span
                                        >
                                        <p class="mr-t15">
                                            {{ accountDetails?.attentionTo
                                            }}<br />
                                            {{ accountDetails?.email }}<br />
                                            {{ accountDetails?.mobileNo }}<br />
                                            {{ accountDetails?.data?.address }}
                                            <br />
                                            {{
                                                accountDetails?.data?.stateName
                                            }}
                                            {{ accountDetails?.data?.pincode }}
                                            <br />
                                            {{ accountDetails?.countryName }}
                                            <br />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="account-right">
                            <h4>Contact Persons</h4>
                            <div class="account-details mr-t15">
                                <div
                                    class="d-flex account-profile mr-b5 mr-t15"
                                    *ngFor="let user of accounts"
                                >
                                    <div>
                                        <img
                                            src="../../assets/images/profile-white.png"
                                            alt="profile"
                                        />
                                    </div>
                                    <div>
                                        <span class="d-block mr-b5">{{
                                            user?.name
                                        }}</span>
                                        <span class="d-block account-email">{{
                                            user?.email
                                        }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer (companyData)="onCompanyDataReceived($event)"></footer>
        </div>
    </div>
</div>
