.index-wrapper {
    .balance-wrap {
        max-width: 1140px;
        margin-bottom: 40px;
        margin-top: 30px;
        .summary-box {
            background-color: var(--color--bg-sumamry);
            border: 1px solid var(--color-border);
            border-radius: 13px;
            padding: 8px;
            .summary-head {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid var(--color-border);
                padding: 10px 20px 0;
                p {
                    padding-bottom: 12px;
                    min-width: 200px;
                    display: flex;
                    column-gap: 8px;
                    align-items: center;
                    font-weight: 500;
                }
                .line {
                    height: 16px;
                    width: 5px;
                    border-radius: 3px;
                    display: inline-block;
                    &.green {
                        background-color: var(--color-green);
                    }
                    &.orange {
                        background-color: var(--color-orange);
                    }
                }
            }
            .summary-content {
                display: flex;
                justify-content: space-between;
                padding: 22px 70px 20px 20px;
                .available {
                    min-width: 180px;
                    text-align: right;
                }
                .number-pay {
                    display: flex;
                    column-gap: 10px;
                    .number {
                        font-size: var(--font-size-12);
                    }
                    a {
                        border-left: 1px solid var(--color-border);
                        padding-left: 8px;
                        img {
                            width: 10px;
                        }
                    }
                }
            }
            .mobile-screen {
                display: none;
                .currency-head {
                    padding: 8px;
                    border-bottom: 1px solid var(--color-border);
                    span {
                        color: var(--color-mute);
                    }
                }
                .mobile-pay {
                    justify-content: space-between;
                    padding: 8px;
                    .number-pay {
                        a {
                            img {
                                width: 10px;
                            }
                        }
                    }
                }
            }
        }
        .payment-width {
            max-width: 625px;
            .payment-made {
                border: 1px solid var(--color-border);
                border-radius: 13px;
                padding: 16px;
                display: flex;
                justify-content: space-between;
                .pay {
                    font-size: var(--font-size-24);
                }
                .pay-head {
                    color: var(--color-mute);
                }
                .company-head {
                    font-size: var(--font-size-24);
                    line-height: 32px;
                }
                span {
                    img {
                        width: 12px;
                    }
                }
            }
        }
        /*--- account-details ---*/
        .account-details {
            border: 1px solid var(--color-border);
            border-radius: 13px;
            padding: 16px;
            .account-profile {
                column-gap: 16px;
                border-bottom: 1px solid var(--color-border);
                padding-bottom: 20px;
                img {
                    width: 40px;
                    border-radius: 50%;
                }
                .account-email {
                    color: var(--color-mute);
                }
                &.account-two {
                    border: 0;
                    padding-top: 20px;
                    padding-bottom: 0px;
                }
            }
            .account-head {
                font-size: var(--font-size-24);
                line-height: 32px;
            }
            .account-name {
                font-weight: 500;
            }
            .billing-address {
                border-top: 1px solid var(--color-border);
                display: flex;
                justify-content: space-between;
                padding-top: 20px;
            }
        }
        &.balance-account {
            display: flex;
            column-gap: 30px;
            .account-left {
                width: 50%;
            }
            .account-right {
                width: 50%;
            }
        }
    }
}
.mat-mdc-progress-spinner {
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
/*---- responsive ----*/

@media screen and (max-width: 991px) {
    .index-wrapper {
        .balance-wrap {
            &.balance-account {
                flex-direction: column;
                row-gap: 20px;
                .account-left {
                    width: 100%;
                }
                .account-right {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .index-wrapper {
        .balance-wrap {
            .summary-box {
                background-color: var(--color-bg-body);
                padding: 12px 18px 18px;
                .desktop {
                    display: none;
                }
                .mobile-screen {
                    display: block;
                    .currency-head {
                        padding: 8px 8px 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .index-wrapper {
        .balance-wrap {
            .payment-width {
                .payment-made {
                    flex-direction: column;
                }
            }
            .account-details {
                .billing-address {
                    flex-direction: column;
                    row-gap: 18px;
                    p{
                        margin-top: 10px !important;
                    }
                }
            }
        }
    }
}
