<div class="common-wrapper">
    <header></header>
    <div class="container">
        <div class="index-wrapper">
            <div class="balance-wrap">
                <h4>Balance Summary</h4>
                <div class="summary-box mr-t15">
                    <div class="desktop">
                        <div class="summary-head">
                            <p>Currency</p>
                            <p>
                                <span class="line green"></span>
                                <span>Available Credits</span>
                            </p>
                            <p>
                                <span class="line orange"></span>
                                <span>Balance Payable</span>
                            </p>
                        </div>
                        <div class="summary-content">
                            <span>EUR- Euro</span>
                            <span class="available text-right">€0,00</span>
                            <span class="number-pay">
                                <div class="number text-right">
                                    €4.405,87 <br>
                                    Number of Invoices : 2
                                </div>
                                <div>
                                    <a href="javascript:;">Pay
                                        <img src="../../assets/images/right-arrow.svg" alt="arrow">
                                    </a>
                                </div>
                            </span>
                        </div>
                    </div>
                    <!-- mobile-design -->
                    <div class="mobile-screen">
                        <div class="currency-head">
                            <span class="text-uppercase">Currency :</span>&nbsp;
                            <span>EUR- Euro</span>
                        </div>
                        <div class="d-flex mobile-pay mr-t1 mr-b15">
                            <span>Balance Payable</span>
                            <span class="number-pay">
                                €4.405,87
                                <a href="javascript:;" class="d-block text-right">Pay
                                    <img src="../../assets/images/right-arrow.svg" alt="arrow">
                                </a>
                            </span>
                        </div>
                        <div class="d-flex mobile-pay mr-b15">
                            <span>Outstanding Invoices</span>
                            <span class="number-pay">2</span>
                        </div>
                        <div class="d-flex mobile-pay">
                            <span>Available Credits</span>
                            <span class="number-pay">€0,00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="balance-wrap">
                <div class="payment-width">
                    <h4>Last Payment Made</h4>
                    <div class="payment-made mr-t15">
                        <div>
                            <span class="d-block pay mr-b1">€3.953,00</span>
                            <span>Paid for
                                <a href="javascript:;">INV2023-080561,</a>
                                <a href="javascript:;">INV2023-070924</a>
                            </span>
                        </div>
                        <div>
                            <span class="d-block pay-head mr-b1">Paid On</span>
                            <span>30-08-2023</span>
                        </div>
                        <div>
                            <span class="d-block pay-head mr-b1">Payment #</span>
                            <span>
                                <a href="javascript:;">21242</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="balance-wrap">
                <div class="payment-width">
                    <div class="d-flex justify-content-between">
                        <h4>My Details</h4>
                        <a href="javascript:;">View More</a>
                    </div>
                    <div class="payment-made mr-t15">
                        <div>
                            <span class="d-block company-head mr-b1">Walkover web solutions Pvt ltd</span>
                            <span class="d-block mr-b1"> Shubhendra Agrawal</span>
                            <span class="d-block mr-t5 mr-b5">
                                <img src="../../assets/images/profile.svg" alt="profile">
                                2 Contact Persons</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- my-detail -->
    <div class="container">
        <div class="index-wrapper">
            <div class="balance-wrap balance-account">
                <div class="account-left">
                    <h4>Account Details</h4>
                    <div class="account-details mr-t15">
                        <div>
                            <span class="account-head d-block mr-b1">Walkover web solutions Pvt ltd</span>
                            <div>
                                <span class="d-block account-name mr-b5">Shubhendra Agrawal</span>
                                <span class="d-block mr-b5">shubhendra@msg91.com</span>
                            </div>
                        </div>
                        <div class="billing-address">
                            <div>
                                <span class="text-mute">BILLING ADDRESS</span>
                                <p class="mr-t15">405 capt cs Naidyu Arcade old palasia <br> Indore MP <br>
                                    India <br>
                                    452018</p>
                            </div>
                            <div>
                                <span class="text-mute">SHIPPING ADDRESS</span>
                                <p class="mr-t2 pd-t1">Yet to add shipping address</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-right">
                    <h4>Contact Persons</h4>
                    <div class="account-details mr-t15">
                        <div class="d-flex account-profile">
                            <div>
                                <img src="../../assets/images/profile-white.png" alt="profile">
                            </div>
                            <div>
                                <span class="d-block mr-b5">Shubhendra Agrawal</span>
                                <span class="d-block account-email">shubhendra@msg91.com</span>
                            </div>
                        </div>
                        <div class="d-flex account-profile account-two">
                            <div>
                                <img src="../../assets/images/profile-white.png" alt="profile">
                            </div>
                            <div>
                                <span class="d-block mr-b5">Shubhendra Agrawal</span>
                                <span class="d-block account-email">shubhendra@msg91.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>