.common-wrapper {
    .inner-content {
        margin: 30px 0 20px 0;
        .payment-table {
            table {
                .mdc-data-table__content {
                    .mat-mdc-row {
                        cursor: pointer;
                    }
                }
                .mat-mdc-header-cell {
                    &.unused-width {
                        min-width: 150px;
                    }
                }
                .mat-mdc-cell {
                    &.date-width,
                    &.mode-width {
                        min-width: 150px;
                    }
                }
            }
        }
    }
}