<mat-spinner [diameter]="60" *ngIf="initialLoading"></mat-spinner>
<div class="d-flex w-100">
    <sidebar></sidebar>
    <div class="common-wrapper" *ngIf="!initialLoading">
        <div class="inner-header">
            <h2>Payments Made</h2>
        </div>
        <div class="inner-content">
            <div class="d-flex column-gap10 res-field">
                <mat-form-field appearance="outline">
                    <mat-label>Sort By</mat-label>
                    <mat-select
                        [(value)]="selectedOption"
                        (selectionChange)="onSortBySelected()"
                    >
                        <mat-option
                            *ngFor="let sortByOption of sortByOptions"
                            [value]="sortByOption.value"
                            >{{ sortByOption.label }}</mat-option
                        >
                    </mat-select>
                </mat-form-field>
                <button
                    *ngIf="showClearFilter"
                    mat-stroked-button
                    color="primary"
                    (click)="resetFilter()"
                    class="clear-button"
                >
                    Clear
                </button>
            </div>
            <mat-spinner [diameter]="60" *ngIf="isLoading"></mat-spinner>
            <div class="invoice-table mr-t15" *ngIf="!isLoading">
                <div class="table-responsive">
                    <table
                        mat-table
                        [dataSource]="dataSource"
                        class="mat-elevation-z8"
                        matSort
                        (matSortChange)="sortData($event)"
                        [matSortDirection]="paymentListRequest.sort"
                        [matSortActive]="paymentListRequest.sortBy"
                    >
                        <ng-container matColumnDef="payment">
                            <th mat-header-cell *matHeaderCellDef>Payment#</th>
                            <td mat-cell *matCellDef="let element">
                                <a
                                    href="javascript:;"
                                    (click)="paymentPreview(element)"
                                >
                                    {{ element.voucherNumber }}
                                </a>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="voucherDate">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                mat-sort-header
                            >
                                Date
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element?.voucherDate }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="grandTotal">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-right sort-header-right"
                                mat-sort-header
                            >
                                Amount
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                                class="text-right"
                            >
                                {{ element?.accountCurrencySymbol }}
                                {{ element?.grandTotal?.amountForAccount }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="mode">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-right sort-header-right"
                            >
                                Mode
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                                class="text-right"
                            >
                                <span
                                    >{{
                                        element?.paymentMode?.name | uppercase
                                    }}
                                </span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="unused">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-right sort-header-right"
                            >
                                Unused Amount
                            </th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                                class="text-right"
                            >
                                {{ element?.accountCurrencySymbol }}
                                {{
                                    element?.adjustments[0]?.voucherTotal
                                        ?.amountForAccount
                                        ? element?.adjustments[0]?.voucherTotal
                                              ?.amountForAccount
                                        : 0
                                }}
                            </td>
                        </ng-container>
                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <div class="text-center pd-t1 pd-b1">
                        <p class="no-data" *ngIf="!paymentListData?.length">
                            There are no open invoices which await your
                            approval.
                        </p>
                    </div>
                    <mat-paginator
                        (page)="handlePageChange($event)"
                        [length]="paymentListData?.length"
                        [pageSize]="paymentListRequest.count"
                        [showFirstLastButtons]="true"
                        [pageSizeOptions]="pageSizeOptions"
                        [hidePageSize]="false"
                        [pageIndex]="pageIndex"
                    >
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
