<div class="common-wrapper">
    <div class="header-wrapper">
        <h2>
            <a href="javascript:;">
                <img src="../../../assets/images/left-arrow.svg" alt="arrow">
            </a>
            My Details</h2>
    </div>
    <!-- account-detail -->
    <div class="container">
        <div class="index-wrapper">
            <div class="balance-wrap balance-account">
                <div class="account-left">
                    <h4>Account Details</h4>
                    <div class="account-details mr-t15">
                        <div>
                            <span class="account-head d-block mr-b1">Walkover web solutions Pvt ltd</span>
                            <div>
                                <span class="d-block account-name mr-b5">Shubhendra Agrawal</span>
                                <span class="d-block mr-b5">shubhendra@msg91.com</span>
                            </div>
                        </div>
                        <div class="billing-address">
                            <div>
                                <span class="text-mute">BILLING ADDRESS</span>
                                <p class="mr-t15">405 capt cs Naidyu Arcade old palasia <br> Indore MP <br>
                                    India <br>
                                    452018</p>
                            </div>
                            <div>
                                <span class="text-mute">SHIPPING ADDRESS</span>
                                <p class="mr-t2 pd-t1">Yet to add shipping address</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-right">
                    <h4>Contact Persons</h4>
                    <div class="account-details mr-t15">
                        <div class="d-flex account-profile">
                            <div>
                                <img src="../../assets/images/profile-white.png" alt="profile">
                            </div>
                            <div>
                                <span class="d-block mr-b5">Shubhendra Agrawal</span>
                                <span class="d-block account-email">shubhendra@msg91.com</span>
                            </div>
                        </div>
                        <div class="d-flex account-profile account-two">
                            <div>
                                <img src="../../assets/images/profile-white.png" alt="profile">
                            </div>
                            <div>
                                <span class="d-block mr-b5">Shubhendra Agrawal</span>
                                <span class="d-block account-email">shubhendra@msg91.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>