.account-statement {
    max-width: 1200px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 15px;

    table {
        width: 100%;
        border-collapse: collapse;
    }

    td,
    th {
        padding: 8px;
        text-align: left;
    }

    .address-block {
        font-style: normal;
        line-height: 1.5;

        p {
            color: #564c4c;
            opacity: 0.8;
        }
        .an-text {
            font-weight: 500;
            color: #000;
        }
    }

    .account-Summary {
        font-weight: bolder;
    }

    .spinner-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .account-table {
        min-height: 180px;
    }

    .details-column {
        width: 22rem;
        max-width: 22rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        word-break: break-word;
    }
    
    .fw-9 {
        font-weight: 900;
    }

    .border-grey {
        border: 1px solid #e9e9e957 !important;
    }

    .line-height {
        line-height: 22px;
    }

    .mat-mdc-header-row {
        height: auto;
    }
}