.account-statement {
    max-width: 1200px;
    padding: 1.25rem;  
    border-radius: 8px;
    margin-top: 0;

    table {
        width: 100%;
        border-collapse: collapse;
    }

    td,
    th {
        padding: 0.5rem;
        text-align: left;
    }

    .address-block {
        font-style: normal;
        font-size: 1.125rem; 
        line-height: 1.5;
    }

    .address-block p {
        color: #564c4c;
        opacity: 0.8;
    }

    
    .spinner-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .account-table {
        min-height: 180px;
    }

    .details-column {
        width: 22rem;
        max-width: 22rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        word-break: break-word;
    }
}